In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [27]:
lc=LabelEncoder()

In [2]:
data=pd.read_csv('melb_data.csv')

In [20]:
data.iloc[:,0]=data.iloc[:,0].apply(lambda x:x.replace("ID_",""))

In [21]:
data.iloc[:,0]=data.iloc[:,0].apply(lambda x:int(x))

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,...,1,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
1,2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
2,3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
3,4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
4,5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13576,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,13577,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13577,13578,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13578,13579,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13579,13580,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

In [24]:
data.set_index(data.columns[0])

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Unique ID,,,,,,,,,,,,,,,,,,,,,
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13576,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,3150,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13577,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,3016,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13578,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,3016,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13579,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,3016,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13580,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,3013,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

In [29]:
data['Suburb']=lc.fit_transform(data['Suburb'])
data['Type']=lc.fit_transform(data['Type'])
data['SellerG']=lc.fit_transform(data['SellerG'])
data['CouncilArea']=lc.fit_transform(data['CouncilArea'])
data['Regionname']=lc.fit_transform(data['Regionname'])
data

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,0,85 Turner St,2,0,1480000,S,23,03-12-2016,2.5,...,1,1.0,202,NaN,NaN,31,-37.79960,144.99840,2,4019
1,2,0,25 Bloomburg St,2,0,1035000,S,23,04-02-2016,2.5,...,1,0.0,156,79.0,1900.0,31,-37.80790,144.99340,2,4019
2,3,0,5 Charles St,3,0,1465000,SP,23,04-03-2017,2.5,...,2,0.0,134,150.0,1900.0,31,-37.80930,144.99440,2,4019
3,4,0,40 Federation La,3,0,850000,PI,23,04-03-2017,2.5,...,2,1.0,94,NaN,NaN,31,-37.79690,144.99690,2,4019
4,5,0,55a Park St,4,0,1600000,VB,155,04-06-2016,2.5,...,1,2.0,120,142.0,2014.0,31,-37.80720,144.99410,2,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13576,302,12 Strada Cr,4,0,1245000,S,16,26-08-2017,16.7,...,2,2.0,652,NaN,1981.0,33,-37.90562,145.16761,4,7392
13576,13577,305,77 Merrett Dr,3,0,1031000,SP,251,26-08-2017,6.8,...,2,2.0,333,133.0,1995.0,33,-37.85927,144.87904,6,6380
13577,13578,305,83 Power St,3,0,1170000,S,194,26-08-2017,6.8,...,2,4.0,436,NaN,1997.0,33,-37.85274,144.88738,6,6380
13578,13579,305,96 Verdon St,4,0,2500000,PI,222,26-08-2017,6.8,...,1,5.0,866,157.0,1920.0,33,-37.85908,144.89299,6,6380
13579,13580,313,6 Agnes St,4,0,1285000,SP,239,26-08-2017,6.3,...,1,1.0,362,112.0,1920.0,33,-37.81188,144.88449,6,6543

In [30]:
data.interpolate()

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,0,85 Turner St,2,0,1480000,S,23,03-12-2016,2.5,...,1,1.0,202,NaN,NaN,31,-37.79960,144.99840,2,4019
1,2,0,25 Bloomburg St,2,0,1035000,S,23,04-02-2016,2.5,...,1,0.0,156,79.0,1900.0,31,-37.80790,144.99340,2,4019
2,3,0,5 Charles St,3,0,1465000,SP,23,04-03-2017,2.5,...,2,0.0,134,150.0,1900.0,31,-37.80930,144.99440,2,4019
3,4,0,40 Federation La,3,0,850000,PI,23,04-03-2017,2.5,...,2,1.0,94,146.0,1957.0,31,-37.79690,144.99690,2,4019
4,5,0,55a Park St,4,0,1600000,VB,155,04-06-2016,2.5,...,1,2.0,120,142.0,2014.0,31,-37.80720,144.99410,2,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13576,302,12 Strada Cr,4,0,1245000,S,16,26-08-2017,16.7,...,2,2.0,652,146.0,1981.0,33,-37.90562,145.16761,4,7392
13576,13577,305,77 Merrett Dr,3,0,1031000,SP,251,26-08-2017,6.8,...,2,2.0,333,133.0,1995.0,33,-37.85927,144.87904,6,6380
13577,13578,305,83 Power St,3,0,1170000,S,194,26-08-2017,6.8,...,2,4.0,436,145.0,1997.0,33,-37.85274,144.88738,6,6380
13578,13579,305,96 Verdon St,4,0,2500000,PI,222,26-08-2017,6.8,...,1,5.0,866,157.0,1920.0,33,-37.85908,144.89299,6,6380
13579,13580,313,6 Agnes St,4,0,1285000,SP,239,26-08-2017,6.3,...,1,1.0,362,112.0,1920.0,33,-37.81188,144.88449,6,6543

In [75]:
data=data.fillna(0)
data.iloc[:,10].apply(lambda x:int(x))
data.iloc[:,13].apply(lambda x:int(x))
data.iloc[:,15].apply(lambda x:int(x))
data.iloc[:,16].apply(lambda x:int(x))
data

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,0,85 Turner St,2,0,1480000,S,23,03-12-2016,2,...,1,1.0,202,0.0,0.0,31,-37,144,2,4019
1,2,0,25 Bloomburg St,2,0,1035000,S,23,04-02-2016,2,...,1,0.0,156,79.0,1900.0,31,-37,144,2,4019
2,3,0,5 Charles St,3,0,1465000,SP,23,04-03-2017,2,...,2,0.0,134,150.0,1900.0,31,-37,144,2,4019
3,4,0,40 Federation La,3,0,850000,PI,23,04-03-2017,2,...,2,1.0,94,0.0,0.0,31,-37,144,2,4019
4,5,0,55a Park St,4,0,1600000,VB,155,04-06-2016,2,...,1,2.0,120,142.0,2014.0,31,-37,144,2,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13576,302,12 Strada Cr,4,0,1245000,S,16,26-08-2017,16,...,2,2.0,652,0.0,1981.0,33,-37,145,4,7392
13576,13577,305,77 Merrett Dr,3,0,1031000,SP,251,26-08-2017,6,...,2,2.0,333,133.0,1995.0,33,-37,144,6,6380
13577,13578,305,83 Power St,3,0,1170000,S,194,26-08-2017,6,...,2,4.0,436,0.0,1997.0,33,-37,144,6,6380
13578,13579,305,96 Verdon St,4,0,2500000,PI,222,26-08-2017,6,...,1,5.0,866,157.0,1920.0,33,-37,144,6,6380
13579,13580,313,6 Agnes St,4,0,1285000,SP,239,26-08-2017,6,...,1,1.0,362,112.0,1920.0,33,-37,144,6,6543

In [79]:
print("Mean data for rooms",data['Rooms'].mean())
print("Median data for rooms",data['Rooms'].median())
print("Mode data for Rooms",data['Rooms'].mode())
print("Mean data for Price",data['Price'].mean())
print("Median data for price",data['Price'].median())
print("Mode data for price",data['Price'].mode())

Mean data for rooms 2.9379970544919
Median data for rooms 3.0
Mode data for Rooms 0    3
dtype: int64
Mean data for Price 1075684.079455081
Median data for price 903000.0
Mode data for price 0    1100000
dtype: int64