# Pre-reqs

In [2]:
!pip install mmh3

Requirement already satisfied: mmh3 in c:\users\paresh\anaconda3\lib\site-packages (3.0.0)

In [11]:
import numpy as np
import pandas as pd
import mmh3
from nltk.stem import RegexpStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

# Task 1

## Stopwords Removal

 In this exercise you have to remove stopwords from a given **Initial** text and convert the text into the **Final** text given to you 

*Note - Please only write your code where it is mentioned to and do not change anything else*

**Intial text**

> Sentiment analysis is the process of using natural language processing , text analysis , and statistics to analyze customer sentiment .


**Final text**

> Sentiment is process using natural language processing , text , statistics analyze customer .

In [ ]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Tokenize your text

In [ ]:
text = "Sentiment analysis is the process of using natural language processing , text analysis , and statistics to analyze customer sentiment ."

In [ ]:
text_tokens =word_tokenize(text) #write your code here to convert sentence into work tokens using function word_tokenize#

In [ ]:
print(text_tokens)

['Sentiment', 'analysis', 'is', 'the', 'process', 'of', 'using', 'natural', 'language', 'processing', ',', 'text', 'analysis', ',', 'and', 'statistics', 'to', 'analyze', 'customer', 'sentiment', '.']

*Expected output*

['Sentiment', 'analysis', 'is', 'the', 'process', 'of', 'using', 'natural', 'language', 'processing', ',', 'text', 'analysis', ',', 'and', 'statistics', 'to', 'analyze', 'customer', 'sentiment', '.']

## Creating the stopwords list

In [ ]:
stopword_list = stopwords.words('english') # now stopword_list will be appended by already known common stopwords which can be seen by prinitng the list below #

In [ ]:
print(stopword_list)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
# Append and Remove some stopwords from the list such that after removing stopwords from intial text using stopwords_list you can get final text
stopword_list.append('analysis')
stopword_list.append('sentiment')
stopword_list.remove('is')

# ...
# write your code here 
# ...

ValueError: ignored

In [ ]:
 #Remove all tokens from text_tokens which are also present in stopword_list and store remaining tokens in sw_filtered_text#

 #...
 # write your code here (Hint - create a list named sw_filtered_text fulfilling above criteria)
 #..
 sw_filtered_text=[]
 for words in text_tokens:
    if words not in stopword_list:
      sw_filtered_text.append(words)
    else:
      text_tokens.remove(words)

['Sentiment',
 'is',
 'process',
 'using',
 'natural',
 'language',
 'processing',
 ',',
 'text',
 ',',
 'statistics',
 'analyze',
 'customer',
 '.']

In [ ]:
print(sw_filtered_text)

['Sentiment', 'is', 'process', 'using', 'natural', 'language', 'processing', ',', 'text', ',', 'statistics', 'analyze', 'customer', '.']

*Expected output*

['Sentiment', 'is', 'process', 'using', 'natural', 'language', 'processing', ',', 'text', ',', 'statistics', 'analyze', 'customer', '.']

## Output

In [ ]:
sw_filtered_text = (" ").join(sw_filtered_text)
print(sw_filtered_text)


# The above code will join all the tokens in the final list now check whether your output with the final text given to you or not.

Sentiment is process using natural language processing , text , statistics analyze customer .

# Task 2

## Stemming

In this exercise, with the given input, produce the given output by stemming the previously tokenized words.

*Note - Write your code only where it is mentioned to and keep everything else unchanged.*

**Input**
> ['Constantly', 'concentrating', 'nearby', 'object', 'may', 'lead', 'one', 'feel', 'strain' 'eyes']



**Output**
> ['Constant', 'concentrat', 'near', 'object', 'may', 'lead', 'on', 'feel', 'strain' 'ey']

In [3]:
  stemmed_tockens =['Constantly', 'concentrating', 'nearby', 'object', 'may', 'lead', 'one', 'feel', 'strain','eyes']# Your code here

In [9]:
# Final output
st=RegexpStemmer("ly$|ing$|by$|e$|es$")
wor=[]
for x in stemmed_tockens:
    wor.append(st.stem(x))
wor

['Constant',
 'concentrat',
 'near',
 'object',
 'may',
 'lead',
 'on',
 'feel',
 'strain',
 'ey']

Questionnaire:
1. Have you written an entire function for stemming? - YES/NO
2. Have you used any pre-built library for this task? - YES/NO YES
3. Name the library used (write NA if not used): ______ NLTK RegexStemmer

# Task 3

### The Hashing Trick

The conventional Bag of Words method involves formation of vocabulary out of all the available tokens in the given text and later, building features out of the vocabulary using frequencies of tokens or just their presence (1s or 0s). Feature hashing or the hashing trick helps overcome some of the major limitations of conventional Bag of Words like growing vocabulary with growing dataset size i.e. dimensionality reduction or dodging crafty corner cases. 

For some further details on Feature hashing, refer to these links:
1. https://en.wikipedia.org/wiki/Feature_hashing
2. https://medium.com/value-stream-design/introducing-one-of-the-best-hacks-in-machine-learning-the-hashing-trick-bf6a9c8af18f

For this Task, given some arbitrary data in a DataFrame, implement Feature hashing manually using MurmurHash3 (using mmh3 module imported at the beginning) to hash each word and then modulo to build a feature vector as shown in the below example:


---


Example:

**Dataset**

| Text      | Label |
| --------- | ----- |
| Loved the service      | 1       |
| Terrible food   | 0        |

Using conventional bag of words, we would require 5 features for 5 unique words in both the sentences (loved, the, service, terrible, food).

Let us use feature hashing such that output feature vector has 4 features (use modulo 4 after hashing)

Sentence 1: Loved the service

| Words      | Hash | Hash modulo 4 |
| --------- | ----- | ------------- |
| loved | 2334787929 | 1 |
| the   | 3162218338 | 2 |
| service | 3640852848 | 0 |

Sentence 2: Terrible food

| Words      | Hash | Hash modulo 4 |
| --------- | ----- | ------------- |
| terrible | 2800746226 | 2 |
| food   | 2122679414 | 2 |

Final feature vector:

| Sentence      | Hash Feature 0 | Hash Feature 1 | Hash Feature 2 | Hash Feature 3 |
| --------- | ----- | ------------- | ----- | ----- |
| Loved the service | 1 | 1 | 1 | 0 |
| Terrible food | 0 | 0 | 2 | 0 |

Thus the output should be:


```
sample_output = [1, 1, 1, 0
                 0, 0, 2, 0]
```

For the dataset given in the problem: 

- Required features: 1000

- Hash function: mmh3 (must use unsigned hash)

**NOTE: You should only use Pandas, NumPy and mmh3 for this task, if any other library is used, your submission will not be considered.**

In [19]:
def ssb(da):
    for i in range(len(da)):
        da[i]=(hash(da[i])%1000)
    return da

In [20]:
df = pd.read_csv('data_BoW.csv')
df['Modulo_1000']=df.iloc[:,1].apply(lambda x : word_tokenize(x))
df.iloc[:,3]=df.iloc[:,3].apply(lambda x:ssb(x))

,Unnamed: 0,text_clean,label_num,Modulo_1000
0,0,subject enron methanol meter this is a follow ...,0,"[733, 725, 216, 962, 412, 982, 516, 35, 717, 4..."
1,1,subject hpl nom for january see attached file ...,0,"[733, 890, 563, 486, 894, 375, 764, 207, 148, ..."
2,2,subject neon retreat ho ho ho we re around to ...,0,"[733, 703, 642, 143, 143, 143, 178, 573, 885, ..."
3,3,subject photoshop windows office cheap main tr...,1,"[733, 755, 378, 301, 155, 141, 160, 188, 540, ..."
4,4,subject re indian springs this deal is to book...,0,"[733, 573, 6, 384, 412, 937, 982, 404, 789, 72..."
...,...,...,...,...
5166,5166,subject put the on the ft the transport volume...,0,"[733, 196, 727, 799, 727, 711, 727, 49, 748, 5..."
5167,5167,subject and following noms hpl can t take the ...,0,"[733, 755, 291, 938, 890, 544, 151, 352, 727, ..."
5168,5168,subject calpine daily gas nomination julie as ...,0,"[733, 225, 505, 920, 504, 481, 664, 986, 176, ..."
5169,5169,subject industrial worksheets for august activ...,0,"[733, 945, 183, 486, 660, 838, 764, 773, 727, ..."
5170,5170,subject important online banking alert dear va...,1,"[733, 900, 564, 637, 729, 931, 747, 813, 318, ..."

In [21]:
#your code here
df

,Unnamed: 0,text_clean,label_num,Modulo_1000
0,0,subject enron methanol meter this is a follow ...,0,"[733, 725, 216, 962, 412, 982, 516, 35, 717, 4..."
1,1,subject hpl nom for january see attached file ...,0,"[733, 890, 563, 486, 894, 375, 764, 207, 148, ..."
2,2,subject neon retreat ho ho ho we re around to ...,0,"[733, 703, 642, 143, 143, 143, 178, 573, 885, ..."
3,3,subject photoshop windows office cheap main tr...,1,"[733, 755, 378, 301, 155, 141, 160, 188, 540, ..."
4,4,subject re indian springs this deal is to book...,0,"[733, 573, 6, 384, 412, 937, 982, 404, 789, 72..."
...,...,...,...,...
5166,5166,subject put the on the ft the transport volume...,0,"[733, 196, 727, 799, 727, 711, 727, 49, 748, 5..."
5167,5167,subject and following noms hpl can t take the ...,0,"[733, 755, 291, 938, 890, 544, 151, 352, 727, ..."
5168,5168,subject calpine daily gas nomination julie as ...,0,"[733, 225, 505, 920, 504, 481, 664, 986, 176, ..."
5169,5169,subject industrial worksheets for august activ...,0,"[733, 945, 183, 486, 660, 838, 764, 773, 727, ..."
5170,5170,subject important online banking alert dear va...,1,"[733, 900, 564, 637, 729, 931, 747, 813, 318, ..."